<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
      <link href="{{request.static_url('pyramid_plana:static/content/bootstrap.min.css')}}" rel="stylesheet">
   <link href="{{request.static_url('pyramid_plana:static/content/jquery-ui.css')}}" rel="stylesheet">
  <link href="{{request.static_url('pyramid_plana:static/content/default_planner.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
  </head>

  <body>
  <div id="specialdiv"></div>

  <!--Begin head-input elements: -->
<div class="controlcenter">
    <div class="toggleCurrentViewType">
       <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Woche
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Monat
  </label>
</div>
    </div>

</div>
<!-- Add nice content! add employer form and switch for week/month-->

    <!-- Begin main element (planner) -->
<div class="container-fluid">
  <div class="btn-group" role="group" aria-label="Basic example">
                     <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left"></span></button>
                     <input type="text" id="abc">
                     <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-right"></span></button>
                  </div>
    <div class="row">
      <div class="col-md-2" style="border: double" >
           <!-- Employerstable title (free): -->
          <div class="row" style="background-color: white;">
              <div class="col-md-12" style="height: 45px">
              </div>
          </div>
        <!-- Employerstable body: -->
       {% for employer in employers %}
       <div class="row" style="min-height: 45px; border-bottom: double">
       <div style="background-color: darkgray;" class="col-md-3">R</div>
           <div style="background-color: darkgray;" class="col-md-9"><strong>{{employer.name}}</strong></div>
           </div>
       {%endfor%}
   </div>
      <!-- Main planner-table wrapper (right):-->
      <div class="col-md-10" id="mainCollumRight" style="border: double;">
           <!-- Header dates:-->
        <div style="background-color: grey; border: double; height: 45px" id="mainContentWrapper" class="row">
        {% for collumDate in range(5) %} <!-- Make dynamic with 5 = mode-->
        <div style="border: double" class="col dateCollum"><strong style="font-size: 15px" class="headerCollum{{ collumDate }}"></strong></div>
        {%endfor%}
       </div>
          <!-- Main planner - main collumview: -->
      {% for employer in employers %}
       <div class="row employerMainRow" style="height: 45px; border: double; background-color: transparent;">
           <div class="col employerMCol{{ employer.employer_id }}" style="height: inherit; background-color: transparent">
           </div>
       </div>
      
       {%endfor%} 


</div>
</div>
    </div>


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small" id="footertext">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- 
      /.container -->
    </footer>

    <!-- Define some variable parsings to js for template access: (use safe filter for dic/list)-->
    <script>
        var employers = {{ employers | safe }};
        var events = {{ weekEvents   | safe }};
        var viewedDayList = {{ viewedDateCollums | safe }};
    </script>
    
    <!-- Bootstrap core JavaScript -->
    <script src="{{request.static_url('pyramid_plana:static/scripts/jquery-3.3.1.js')}}"></script>
    <script src="{{request.static_url('pyramid_plana:static/scripts/jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('pyramid_plana:static/scripts/jquery-custom-mainplanner.js')}}"></script>
   <script src="{{request.static_url('pyramid_plana:static/scripts/bootstrap.bundle.min.js')}}"></script>
   <script type="text/javascript" src="{{request.static_url('pyramid_plana:static/scripts/moment.js')}}"></script>
  <script src="{{request.static_url('pyramid_plana:static/scripts/weekpick.js')}}"></script>
   <script type="text/javascript" src="{{request.static_url('pyramid_plana:static/local/datepicker-de.js')}}"></script>
  </body>

</html>
